.md-typeset {
    font-size: 1.0rem;
}

.md-typeset p {
	text-indent: 2em;
}

.md-typeset h1 {
	word-break: keep-all;
}

.font-switcher {
	display: inline-block;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.font-switcher label {
	margin-right: 5px;
}

.font-switcher select {
	padding: 5px;
}

@font-face {
	font-family: 'FangZheng Serif';
	src:
		local('FZShuSong-Z01'),
		url('../fonts/FZShuSong-Z01.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FangZheng Serif';
	src:
		local('FZXiaoBiaoSong-B05'),
		url('../fonts/FZXiaoBiaoSong-B05.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'FangZheng Sans Serif';
	src:
		local('FZHei-B01'),
		url('../fonts/FZHei-B01.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FangZheng Sans Serif';
	src:
		local('FZDaHei-B02'),
		url('../fonts/FZDaHei-B02.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}