.md-typeset {
    font-size: 1.0rem;
}

.md-typeset p {
	text-indent: 2em;
}

.font-switcher {
	display: inline-block;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.font-switcher label {
	margin-right: 5px;
}

.font-switcher select {
	padding: 5px;
}

body {
	font-size: 32px;
  }