@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

:root {
    --body-font-size: .8rem;
    --text-font-family: serif;
    --widget-color: #EF5552;
}

.md-typeset {
    font-size: var(--body-font-size);
}

.md-content__inner.md-typeset > p {
    text-indent: 2em;
    text-align: justify;
}

.md-typeset h1 {
    word-break: keep-all;
}

aside,body,input {
    font-family: var(--text-font-family);
}

@media screen and (max-width: 76.1875em) {
    [dir=ltr] .md-sidebar--primary {
        left:-14.4rem
    }

    [dir=rtl] .md-sidebar--primary {
        right: -14.4rem
    }

    .md-sidebar--primary {
        width: 14.4rem;
    }

    [data-md-toggle=drawer]:checked~.md-container .md-sidebar--primary {
        transform: translateX(14.4rem)
    }

    [dir=rtl] [data-md-toggle=drawer]:checked~.md-container .md-sidebar--primary {
        transform: translateX(-14.4rem)
    }
}

.font-switcher {
    display: inline-block;
    padding: 5px;
    border: 1px solid var(--widget-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.font-switcher label {
    margin-right: 5px;
}

.font-switcher select {
    padding: 5px;
}

.katex {
    font-size: 1em;
}



@font-face {
    font-family: 'FangZheng Serif';
    src:
        local('FZShuSong-Z01'),
        url('/src/fonts/FZSSK.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FangZheng Serif';
    src:
        local('FZXiaoBiaoSong-B05'),
        url('/src/fonts/FZXBSK.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FangZheng Sans Serif';
    src:
        local('FZHei-B01'),
        url('/src/fonts/FZHTK.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FangZheng Sans Serif';
    src:
        local('FZDaHei-B02'),
        url('/src/fonts/FZDHTK.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* @font-face {
    font-family: 'Noto Serif SC (local)';
    src:
        local('Noto Serif SC'),
        local('Source Han Serif SC'),
        local('Source Han Serif CN');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif SC (local)';
    src:
        local('Noto Serif SC'),
        local('Source Han Serif SC'),
        local('Source Han Serif CN Bold');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans SC (local)';
    src:
        local('Noto Sans SC'),
        local('Source Han Sans SC'),
        local('Source Han Sans CN');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans SC (local)';
    src:
        local('Noto Sans SC'),
        local('Source Han Sans SC'),
        local('Source Han Sans CN Bold');
    font-weight: 700;
    font-style: normal;
} */
